.media--fullwidth {
    width: 100%;
    height: auto;
}
nav>ul>li::before {
    content: url("../../public/icones/StreamlineEmojisAmusingFace.svg");
}
nav>ul>li>ul>li::before {
    content: url("../../public/icones/StreamlineEmojisBoar1.svg");
}
nav>ul>ul>ul>li>::before {
    content: url("../../public/icones/StreamlineEmojisFaceVomiting.svg");
}